{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="comment-new" data-post="{{post.getId()}}" class="btn btn-primary">{{ button_label|default('add new comment') }}</button>
{{ form_end(form) }}

