<div class="container mt-5 mb-5">
    <div class="d-flex  row">
        <div class="col-md-8">
            {% for comment in comments %}
	            {{ include('comment/show.html.twig') }}
            {% endfor %}
        </div>
    </div>
</div>
    
