<div class="p-3  mt-2 rounded {{ (comment.getVisible()) ? '' : 'hidden-comment' }}" >
	{# bg-white  #}
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-row user">
        	<img class="rounded-circle img-fluid img-responsive" src="{{asset('image/user-icon.jpg')}}" width="40">
            <div class="d-flex flex-column ml-2">
            	<span class="font-weight-bold">
            		{{ comment.getUser().getUsername() | default("anonymus") }}
            	</span>
            	<span class="day">{{ comment.getCreatedAt()|date('F jS \\a\\t g:ia') }}</span>
            </div>
        </div>
    </div>
    <div class="comment-text text-justify mt-2">
        <p>{{ comment.getContent() }}</p>
    </div>
    {% if owner %}
    		<input type="hidden" name="visible" value="{{ comment.getVisible() ? 0 : 1 }}">
	        <div class="d-flex justify-content-end align-items-center comment-buttons mt-2 text-right">
	        	<button class="btnbtn-outline-success btn-sm border-0 px-3 mr-3" 
	        		type="button" onclick="deleteComment({{ comment.getId() }})">Delete</button>
	        	<button class="btn btn-success btn-sm border-0 px-3 comment-hide" 
	        	data-comment="{{ comment.getId() }}" type="button" 
	        	onclick="hideComment({{ comment.getId() }}, {{ comment.getVisible() ? '0' : '1' }})">{{ comment.getVisible() ? 'Hide' : 'Show' }}</button>
	        </div>
    {% endif %}
</div>
