

.no-box-shadow {
    box-shadow: none
}

.no-box-shadow:focus {
    box-shadow: none
}

.day {
    font-size: 9px
}

.heart {
    border: 1px soild green !important;
    border-color: green !important;
    border-radius: 22px
}

.heart-icon {
    color: green
}

.comment-text {
    font-size: 12px
}

.delete {
    font-size: 13px;
    cursor: pointer
}

.hidden-comment{
    background-image: linear-gradient(-45deg, #bbb 5%, transparent 5%, transparent 50%, #bbb 5%, #bbb 20%, transparent 75%, transparent);
    background-size: 4px 4px;
}
