{% extends 'base.html.twig' %}

{% block title %}Something is not right{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Well... something went wrong</h1>

    <p>If you can see this page is because something is not working so well... please contact the admin and explain him how did you get here with the message bellow</p>

    <h2>{{ status }}</h2>
    <p>{{ message }}<p>

</div>
{% endblock %}
