{% extends 'base.html.twig' %}

{% block title %}Become a writer{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 offset-md-3 mt-5">
			{{ form_start(form)}}
				{{ form_widget(form) }}
				<button class="btn btn-info float-right" type="submit">Register</button>
			{{ form_end(form)}}
		</div>
	</div>
{% endblock %}
