<div class="main-menu">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="{{path('dashboard')}}">Blogging</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
				{% if app.user %}
		        	<a class="nav-link" href="{{path('post_index')}}">My posts</a>
        		{% endif %}
		      </li>
		      <li class="nav-item">
				{% if app.user %}
		        	<a class="nav-link" href="{{path('post_new')}}">New post</a>
        		{% endif %}
		      </li>
		    </ul>
	    <span class="navbar-text">
		    <ul class="navbar-nav mr-auto">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_logout')}}">Logout</a>
					</li>
		  		{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_login')}}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('register')}}">Register</a>
					</li>
		  		{% endif %}
		    </ul>
    	</span>
	  </div>
	</nav>
</div>
