<form id="search" method="post" action="{{ path(action) }}">
  <input class="form-control" id="anythingSearch" name="search" value="{{ search }}"
  type="text" placeholder="Type something to search on blogging">
  <div id="myDIV" class="mt-3 pb-3">
    <button class="btn btn-info">Search</button>
  </div>
</form>
