{% extends 'base.html.twig' %}

{% block title %}Edit: {{ post.title }}{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary m-1 btn-sm button-form-size" href="{{ path('post_index') }}">back to list</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/post.css') }}" rel="stylesheet">
{% endblock %}
