{% extends 'base.html.twig' %}

{% block title %}Your posts{% endblock %}

{% block body %}
    <h1>Your posts</h1>
    {{ include('_search.html.twig') }}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Published</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_show', {'slug': post.slug}) }}">{{ post.title|title }}</a></td>
                <td>{{ post.content|length > 150 ? post.content|slice(0, 150) ~ '...' : post.content }}</td>
                <td>{{ post.published ? 'Yes' : 'No' }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-secondary m-1 btn-sm button-list-size">Show</a>
                    <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="btn btn-secondary m-1 btn-sm button-list-size">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}" class="btn btn-primary m-1 btn-sm button-list-size">Create new</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/post.css') }}" rel="stylesheet">
{% endblock %}

