{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <div class="post-content">
        <div>{{ post.content }}</div>
    </div>

    <div class="post-details">
        <p><b>Published:</b> {{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</p>
    </div>

    {% if (is_granted('IS_AUTHENTICATED_FULLY') and owner) %}
        <a href="{{ path('post_index') }}" class="btn btn-primary m-1 btn-sm button-form-size">Back to list</a>

        <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="btn btn-primary m-1 btn-sm button-form-size">Edit</a>

        {{ include('post/_delete_form.html.twig') }}
    {% else %}
        <a href="{{ path('dashboard') }}" class="btn btn-primary m-1 btn-sm button-form-size">Back to list</a>
    {% endif %}
    <div class="comment-section">

        <h4>Comment section</h4>
        <div>
            {{ include('comment/_form.html.twig') }}
        </div>
        <div class="comments-container">
            {{ include('comment/index.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/comments.css') }}" rel="stylesheet">
    <link href="{{ asset('css/post.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/post.js') }}"></script>
{% endblock %}
