{% extends 'base.html.twig' %}

{% block title %}Blogging{% endblock %}

{% block body %}
    <div class="container">
    <h1>Dashboard</h1>
        {{ include('_search.html.twig') }}
    </div>
    <table class="table">
        <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <a href="{{ path('post_show', {'slug': post.slug}) }}"><h4>{{ post.title|title }}</h4></a>
                    <p>
                        <small>
                            {{ post.publishedAt ? post.publishedAt|date('Y-m-d') : '' }}
                        <small>
                    </p>
                </td>
            </tr>
            <tr>
                <td>{{ post.content|length > 300 ? post.content|slice(0, 300) ~ '...' : post.content }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}
